#search{
    color: rgb(32, 178, 170);
    width: 120px;
    border-radius: 50px;
    padding: 3px 5px 3px 5px;
    margin: 10px;
    border: 2px solid lightseagreen;
    font-weight: bold;
    /* background-color: white; */

}

#c{
    width: 35px;
    height: 35px;
    border-radius: 50px ;
    margin: 10px;
    background-color: aquamarine;
    color: white;
    font-weight: bolder;
    font-size: 25px;

    
}

#create{
    padding:3px 5px 3px 5px ;
    background-color: blue;
    color: white;
    width: 150px;
    height: 30px;
    margin: 10px;
    /* border: 5px 10px; */
    /* box-shadow: 30px 150 black; */


}